/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

// RESET VALUES
body {
  background-color: #F9B6B4,
}

.main-container {
  background-color: white;
  background-image: image-url("sec4-repeat.png");
  background-repeat: repeat;
  width: 90%;
  margin: 0 auto;
  min-height: 1000px;
}

#logo {
  padding-top: 140px;
  p {
    margin-top: 15px;
  }
}

#laptop-phone {
  margin-top: 120px;
  img {
    width: 80%;
  }
}

#features-container {
  padding: 150px 0px 75px 0px;
}

.feature {
  height: 380px;
  width: 280px;
  margin: 0 auto;
  position: relative;
  &:hover {
  transition: all 0.3s ease;
    border: 5px solid #f9b6b4;
    background: white;
  }
}

.feature-img  {
  position: absolute;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.feature-title {
  position: absolute;
  top: 180px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 28px;
  letter-spacing: 4px;
  color: #545454;
}

.feature-text {
  position: absolute;
  top: 250px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 14px;
  letter-spacing: 2px;
  color: #9b9b9b;
}

#map {
  height: 100vh;
  width: 100%;
  background-image: image-url("map.png");
  background-size: cover;
  position: relative;
  z-index: 0;
}

#contact-form {
  opacity: 0.8;
  background-color: #ffffff;
  width: 50%;
  padding: 80px 100px;
  position: absolute;
  top: 80px;
  right: 30px;
  height: 80%;
  p {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #6f6f6f;
  }
}

#templates {
  margin-bottom: 200px;
  padding: 150px 0px 75px 0px;
  h1 {
    margin-bottom: 50px;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
  cursor: pointer;
  transition: all 0.3s ease;
}
