.preview-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  height: 500px;
}

.preview-qr-container {
  width: 50%;
  height: 100%;
  padding: 50px;
  display: flex;
  margin-top: 75px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  a {
    margin-top: 150px;
    width: 50%;

  }
}

.iphone-container {
  width: 50%;
  height: 100%;

}
#preview-iphone {
  width: 375px;
  height: 618px;
  border-radius: 5px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#preview-iphone-screen {
  width: 365px;
  height: 608px;
  background-color: white;
  border: 1px solid #a7a7a7;
}

#preview-iphone-display {
  height: 608px;
  width: 365px;
}
