.slide-1 {
  background-color: #F95959;
}

.slide-2 {
  background-color: #718CA1;
}

.slide-3 {
  background-color: #7AB7FF;
}

.slide-4 {
  background-color: #718CA1;
}

.slide-4 {
  background-color: #F95959;
}

.decoration_1 {
  background-image: url('images/map.png');
}
