<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <%= image_tag "illus-share.svg" %>
      <h6 class="modal-title" id="myModalLabel">SHARE</h6>
    </div>
    <div class="modal-body">
      <h6>URL</h6>
      <p id="share_url"><%= invitation_share_link %></p>
      <button class="btn btn-steps" id="share-button" data-clipboard-action="copy" data-clipboard-target="#share_url">Copy to clipboard</button>
      <%= image_tag "QR.png" %>
  </div>
</div>
