<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <%= image_tag "img-placeholder.svg" %>
      <h6 class="modal-title" id="myModalLabel">SHARE</h6>
    </div>
    <div class="modal-body">
      <h6>URL</h6>
      <p><%= invitation_share_link %></p>
      <%= image_tag "QR.png" %>
  </div>
</div>
