<div class="wrapper">
  <div class="preview-container">
    <div class="preview-qr-container">
      <h1>QR CODE</h1>
      <%= raw @svg %>
      <%= link_to "Go Back", dashboard_path, class: "btn btn-devise btn-steps" %>
    </div>
    <div class="iphone-container">
      <div id="preview-iphone">
        <div id="preview-iphone-screen">
        <iframe src="<%= @invitation_url %>" id="preview-iphone-display" style= "border: 0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= invitation_share_link %>


