<div class="wrapper">
  <div class="preview-container">
    <div class="preview-qr-container">
      <h1>QR CODE</h1>
      <%= link_to "Go Back", dashboard_path, class: "btn btn-devise btn-steps" %>
    </div>
    <div class="iphone-container">
      <div id="preview-iphone">
        <div id="preview-iphone-screen">
        <iframe src="http://localhost:3000/invitations/96" id="preview-iphone-display"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
