<% @templates.each do |template| %>
  <div class="col-xs-12 col-md-6 col-lg-3 template-content">
    <div class="template-card pink-border">
      <% if template.photo? %>
        <%= cl_image_tag template.photo.path, width: 108, height: 138, crop:"fill" %>
      <% else %>
        <%= image_tag "img-placeholder.svg" %>
      <% end %>
    </div>
    <div class="radio-button-container">
      <div class="radio-button" data-template-id="<%= template.id %>">
      </div>
    </div>
  </div>
<% end %>
