<div class="padded text-center">
  <h1> This is step 1 </h1>
  <h3>List of templates:</h3>
  <%= simple_form_for(@invitation) do |f| %>
    <%= f.association :template, as: :radio_buttons %>
    <%= f.submit %>
  <% end %>
</div>

