<div class='<%= @invitation.template.stylesheet %>'>
<div class="swiper-container swiper-container-vertical">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-1">
      <h2 class="animated" data-ani-name="zoomInDown" data-ani-duration="1s" data-ani-delay="0.5s">Change your life!</h2>

    </div>
    <div class="swiper-slide slide-2">
      <h2 class="animated" data-ani-name="bounceInUp" data-ani-duration="1s" data-ani-delay="0.5s">Learn to code!</h2>
    </div>
    <div class="swiper-slide slide-3">
      <h2 class="animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.5s">Join our journey...</h2>
    </div>
    </div>
  </div>
</div>


</div>
