.btn-profile {
  color: #333333;
}

.btn-steps {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 0 0 rgba(249, 181, 179, 0.5);
  border: solid 1px #f9b5b4;
  font-size: 16px;
  line-height: 1.88;
  color: #545454;
}

#fb-link {
  margin-top: 15px;
  border: none;
  color: white;
  background-color: #4b6cb5;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  transition: all 0.8s ease;
  &:hover {
    background-color: #375AA7;
    color: white;
    cursor: pointer;
  }
}

.btn-devise {
  opacity: 1;
  width: 100%;
  margin-bottom: 10px;
  &:hover {
    background-color: white;
    cursor: pointer;
    border: solid 1px #f9b5b4;
    transition: all 0.3s ease;
    box-shadow: none;
  }
}

#wechat-link {
  margin-top: 15px;
  border: none;
  color: white;
  background-color: #6FC114;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  transition: all 0.8s ease;
  &:hover {
    background-color: #6FAE3F;
    color: white;
    cursor: pointer;
  }
}

#btn-signup {
  margin-top: 20px;
}

#btn-create {
  margin-top: 50px;
  padding: 15px 35px 10px;
  border: 1px solid #f9b5b4;
  box-shadow: 0 3px 0 0 rgba(249, 181, 179, 0.5);
  border-radius: 3px;
  color: #545454;
  background-color: #fff;
  transition: box-shadow .2s ease-in-out;
  &:hover, &:focus, &:active {
    box-shadow: none;
  }
}
